button {
  all: unset;
}

.default{
  width: 43px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50%;
}

.CheckboxRoot {
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.default:hover {
  background-color: rgba($color: #fff, $alpha: 0.2);
}
.default:focus {
  background-color: rgba($color: #fff, $alpha: 0.4);;
}
.default:active {
  background-color: rgba($color: #fff, $alpha: 0.4);
}

.CheckboxIndicator {
  margin-top: 5px;
  color: black;
  svg {
    height: 20px;
    width: 20px;
  }
}

.Label {
  color: white;
  padding-left: 15px;
  font-size: 15px;
  line-height: 1;
}
