.default {
  border: 1px solid #4C4C4C;
  background-color: transparent;
  color: #4C4C4C;
  border-radius: 5px;
  width: 284px;
  height: 60px;
  font-size: 26px;
  font-weight: 400;
  text-align: start;
  padding-left: 20px;
}
.default:hover {
  outline: 0;
  outline-offset: 0;
  border-color:  #808080;
  background-color: #171717;
  color: #808080;
}
.default:focus {
  outline: 0;
  outline-offset: 0;
  border:3px solid #2F68CC;
  background-color: #171717;
  color: #808080;
}
.default:active {
  outline: 0;
  outline-offset: 0;
  border-color: #fff;
  background-color: transparent;
  color: #fff;
}

.disabled {
  border: 1px solid #4C4C4C;
  background-color: transparent;
  color: #4C4C4C;
  border-radius: 5px;
  width: 284px;
  height: 60px;
  font-size: 26px;
  font-weight: 400;
  text-align: start;
  padding-left: 20px;
}














.error {
  border: 1px solid #F23D61;
  background-color: transparent;
  color: #F23D61;
  width: 284px;
  height: 60px;
  font-size: 26px;
  font-weight: 400;
  text-align: start;
  padding-left: 20px;
}

