.large {
  font-weight: 700;
  font-size: 26px;
}

.h1 {
  font-weight: 700;
  font-size: 20px;
}

.h2 {
  font-weight: 700;
  font-size: 18px;
}

.h3 {
  font-weight: 700;
  font-size: 16px;
}

.body1 {
  font-weight: 400;
  font-size: 16px;
}

.subtitle1 {
  font-weight: 700;
  font-size: 16px;
}

.body2 {
  font-weight: 400;
  font-size: 14px;
}

.subtitle2 {
  font-weight: 700;
  font-size: 14px;
}

.caption {
  font-weight: 400;
  font-size: 12px;
}

.overline {
  font-weight: 700;
  font-size: 12px;
}

.link1 {
  font-weight: 400;
  font-size: 14px;
  color: #397DF6;
}

.link2 {
  font-weight: 400;
  font-size: 12px;
  color: #397DF6;
}